<p>Hey {{ firstname }} {{ lastname }},</p>
<p>Please click the button below to reset your password</p>
<button>
    <a href="{{ reset_url }}">Reset Password</a>
</button>

<p>If the button does not work, you can copy the link below to your browser:</p>

<a href="{{ reset_url }}">{{ reset_url }}</a>

<p>This link has a <strong>One hour expiry</strong>.</p>
<p>If you did not request this email you can safely ignore it.</p>